.header {
  display: flex;
  flex-direction: row;
  background-color: rgb(44, 52, 172);
  color: white;
  height: 60px;
}
.header-elem {
  margin: 13px 10px;
  padding: 4px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgb(44, 52, 172);
  color: white;
  height: 3%px;
}
.name {
  width: 15%;
  height: 100px;
  background-color: teal;
  color: white;
  padding: 15px;
  margin: 10px;
  /* border: 1px solid black; */
}
.my-div {
  padding: 20px;
}
.button {
  background-color: cadetblue;
  border-radius: 6px;
  width: 60px;
  height: 25px;
  color: wheat;
}
.button:hover {
  background-color: teal;
  cursor: pointer;
}
